// Font face

@font-face
  font-family: 'JosefinSansRegular';
  src: url('font/josefinsans-regular-webfont.eot');
  src: url('font/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/josefinsans-regular-webfont.woff') format('woff'),
  url('font/josefinsans-regular-webfont.ttf') format('truetype'),
  url('font/josefinsans-regular-webfont.svg#JosefinSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'source-sans-pro';
  src: url('font/SourceSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;


// Color

// Font
font-default = 'Georgia', 'Helvetica', serif
font-post-title = 'JosefinSansRegular', Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", serif
