// Font face

@font-face
  font-family: 'PT';
  url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'Inconsolata';
  url('https://fonts.googleapis.com/css?family=Inconsolata');
  font-style: normal;
  font-weight: 400;


// Color

// Font
font-default = 'PT Sans', sans-serif
font-post-title = 'PT Serif', serif
font-mono = 'Inconsolata', monospace
font-size = 16px
